---
layout: default
---

<style>
    .slideshow-container {
        max-width: 1000px;
        position: center;
        margin: auto;
        margin-top: 180px; /* Adjust the top margin as needed */
    } 
    .mySlides {
        display: none;
    }
    
    .prev, .next {
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color: #680707;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .prev {
        left: 300px;
    }
    
    .next {
        right: 300px;
    }
    
    .caption {
        text-align: center;
        color: #fff;
        background: #680707;
        padding: 10px;
        font-weight: bold;
        font-size: 16px;
    }
</style>

<body>
<div class="slideshow-container">
    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2023.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2023</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2022.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2022</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/InfoLab_Anniv_1.jpg" style="width:100%">
        <div class="caption">INFOLAB 25 YEARS ANNIVERSARY - JUNE 29,2022</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/InfoLab_Anniv_2.jpg" style="width:100%">
        <div class="caption">INFOLAB 25 YEARS ANNIVERSARY - JUNE 29,2022</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2021.png" style="width:100%">
        <div class="caption">InfoLab - Fall 2021</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2020.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2020</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2018.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2018</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2017.jpg" style="width:100%">
        <div class="caption">InfoLab - Spring 2017</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2017.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2017</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2016.JPG" style="width:100%">
        <div class="caption">InfoLab - Fall 2016</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2015.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2015</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2014.jpg" style="width:100%">
        <div class="caption">InfoLab - Spring 2014</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2014.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2014</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2013.jpg" style="width:100%">
        <div class="caption">InfoLab - Spring 2013</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2013.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2013</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2012.JPG" style="width:100%">
        <div class="caption">InfoLab - Spring 2012</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2012.png" style="width:100%">
        <div class="caption">InfoLab - Fall 2012</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2011.JPG" style="width:100%">
        <div class="caption">InfoLab - Fall 2011</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2010.jpg" style="width:100%">
        <div class="caption">InfoLab - Spring 2010</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2010.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2010</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2009.JPG" style="width:100%">
        <div class="caption">InfoLab - Spring 2009</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2009.JPG" style="width:100%">
        <div class="caption">InfoLab - Fall 2009</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2008.jpg" style="width:100%">
        <div class="caption">InfoLab - Spring 2008</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2008.JPG" style="width:100%">
        <div class="caption">InfoLab - Fall 2008</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2007.jpg" style="width:100%">
        <div class="caption">InfoLab - Spring 2007</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2006.jpg" style="width:100%">
        <div class="caption">InfoLab - Spring 2006</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2005.jpg" style="width:100%">
        <div class="caption">InfoLab - Spring 2005</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2005.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2005</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2004.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2004</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2003.jpg" style="width:100%">
        <div class="caption">InfoLab - Spring 2003</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2003.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2003</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Spring2002.jpg" style="width:100%">
        <div class="caption">InfoLab - Spring 2002</div>
    </div>
    
    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall2002.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 2002</div>
    </div>

    <div class="mySlides">
        <img src="/assets/img/people/lab_photos/Fall1998.jpg" style="width:100%">
        <div class="caption">InfoLab - Fall 1998</div>
    </div>


    <!-- Add more slides as needed -->

    <button class="prev" onclick="plusSlides(-1)">❮</button>
    <button class="next" onclick="plusSlides(1)">❯</button>
</div>

{% include scripts/slideshow.html %}

</body>